https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
requests
imdbpy
bs4
# for interacting with te.legra.ph
telegraph==1.4.1
youtube-dl
youtube_search
googletrans==3.1.0a0
aiohttp==3.7.4
requests
ffmpeg-python
pytgcalls==0.0.17
wheel
psutil
tgintegration
gTTS
pyshorteners
aiofiles
wget
youtube-search-python==1.4.6
pyromod
yt_dlp
tswift
datetime
py-tgcalls==0.8.2
